*{
    margin: 0px;
    padding: 0px;
}

.blackSquare{
    height: 500px;
    width: 500px;
    background-color: red;
}

#area{
    position: relative;
    background-color: blue;
    width: 680px;
    height: 540px;
    border: 1rem solid;
    
}


#area_id{
    position: absolute;
    visibility: collapse;
    z-index: -1;
}

#ball  {
    
    position:absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: rgb(139, 9, 117);
    
}

#raquetteJ1{
    
    position:absolute;
    /*
    width: 10px;
    height: 100px;
    */
    background:rgb(231, 231, 9);
    
}

#raquetteJ2{
    
    position:absolute;
    top: 0px;
    /*
    width: 10px;
    height: 100px;
    */
    background:rgb(231, 9, 9);
    
}