*{
    margin: 0%;
    padding: 0%;
}

/** NAVIGATION BAR */

#navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  
  ul {
      text-align: center;
      list-style-type: none;
      list-style-type: none;
      margin: 0;
      padding: 15px;
  }
  
  li {
      display: inline;
      font-family: "Fira Sans", sans-serif;
      font-size: 17px;    
      padding: 50px;
  }
  
  .etiquettes{
      color: #f2f2f2;
      text-decoration: none;
      padding: 14px;
  }
  
  a:hover {
      background-color: #111;
  }


.content{
    position: relative;
}

.scoreboard{
    position: relative;
}

/* Score board */


table{
    caption-side: top;
    position: absolute;
    top: 15px;
    right: 2%;
  }
  th, td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
  }
  caption{
    background-color: #0AD;
    font-weight: bold;
  }