

<div class="home_container">

    <div class="tele_container">

        <div class="tele_display">
            <img id="gif_home" src="{{ url_for('static',filename='pictures/yuuuuuu_2_2.gif') }}"  alt="">

            <div class="play_button"></div>
        </div>

    </div>

    <div class="scoreboard">
        <!-- Scoreboard -->
        <table>
            <caption>Score board</caption>
            <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Nombre de partie</th>
                    <th>Score Total</th>
                </tr>
            </thead>
            <tbody>

                {% for i in data %}

                <tr>
                    <td>{{i.name}}</td>
                    <td>{{i.nb_partie}}</td>
                    <td>{{i.score_total}}</td>
                </tr>


                {% endfor %}
            </tbody>
        </table>
    </div>



</div>