
<div id="body">
    <div class="myaccount">
        <p class="du"><b>Mon Compte</b></p>
        <div class="username">
            <p class="duu"><b>Username :</b>"Username"</p>
        </div>
        <div class="password">
            <p class="duu"><b>PassWord :</b>"password"</p>
        </div>
        <div class="password">
            <p class="duu"><b>Wins :</b>"example"</p>
        </div>
        <div class="password">
            <p class="duu"><b>Losts :</b>"example"</p>
        </div>
        <div class="password">
            <p class="duu"><b>Ratio W/L :</b>"example"</p>
        </div>
        <a href="#">
            <input type="button" value="Modifier">
        </a>
        <a href="#">
            <input type="button" value="Déconnexion">
        </a>
    </div>
</div>
