

<!-- Gestion du jeu -->
<div id="area">

    <script>
        //Gestion de la zone du jeu
        var area = document.getElementById('area');

        socket.on('gameInfo', function (gameData) {
            //console.log(gameData.gameArea);

            area.style.height = gameData.gameArea[2][1][1] + 'px';
            area.style.width = gameData.gameArea[0][0][1] + 'px';
        });
    </script>


    <div id="ball"></div>

    <script>
        //Gestion de la ball

        var ball = document.getElementById('ball');

        socket.on('gameInfo', function (data) {
            //console.log(data.ballPos[0], data.ballPos[0]);



            ball.style.left = data.ballPos[0] + 'px';
            ball.style.top = data.ballPos[1] + 'px';

        });
    </script>


    <div id="raquetteJ2">
        <script>
            //Gestion de la raquette du joueur 2 ( à gauche )
            var raquetteJ2 = document.getElementById('raquetteJ2')

            socket.on('gameInfo', function (gameData) {
                //console.log(gameData.raquettes[1]);

                //gestion de la taille
                raquetteJ2.style.width = gameData.raquettes[0][0][1] - gameData.raquettes[0][0][
                    0
                ] + 'px';
                raquetteJ2.style.height = gameData.raquettes[0][1][1] - gameData.raquettes[0][1]
                    [0] + 'px';

                //gestion de la position
                raquetteJ2.style.left = gameData.raquettes[0][0][1] + 'px';
                raquetteJ2.style.top = gameData.raquettes[0][1][0] + 'px';



            });
        </script>
    </div>


    <div id="raquetteJ1">
        <script>
            //Gestion de la raquette du joueur 1 ( à droite )
            var raquetteJ1 = document.getElementById('raquetteJ1')

            socket.on('gameInfo', function (gameData) {
                //console.log(gameData.raquettes[0]);

                //gestion de la taille
                raquetteJ1.style.width = gameData.raquettes[1][0][1] - gameData.raquettes[1][0][
                    0
                ] + 'px';
                raquetteJ1.style.height = gameData.raquettes[1][1][1] - gameData.raquettes[1][1]
                    [0] + 'px';


                //gestion de la position
                raquetteJ1.style.left = gameData.raquettes[1][0][1] + 'px';
                raquetteJ1.style.top = gameData.raquettes[1][1][0] + 'px';
            });
        </script>
    </div>

    <script>
        //Gestion de l'envoie de l'action ( <- ou -> ) pour déplacer la raquette

        document.addEventListener('keydown', raqettePosition);

        function raqettePosition(e) {

            console.log(e.code);

            if (e.code == "ArrowLeft") {
                socket.emit('ArrowLeft');
            } else if (e.code == "ArrowRight") {
                socket.emit('ArrowRight');
            }

        }
    </script>
</div>


