<!DOCTYPE html>

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <title>Accueil</title>
</head>

<body>

    <!-- Navbar -->

    <div id="navbar">
        <ul>
            <li><a class="etiquettes" href="">Accueil</a></li>
            <li><a class="etiquettes" href="">Règle</a></li>
            <li><a class="etiquettes" href="#">Autres</a></li>
            <a href="sign_in_page.html">
                <button type="button" class="btn btn-outline-light">Connectez-vous</button>
            </a>
        </ul>
    </div>
    
    
    <!-- Gif .-!-. Jouer -->
    
    <div id="Gif-jouer">
        <img class="icon_site" src="img/yuuuuuu.gif" width="100%" height="60%" alt="">
    </div>


    <!-- Scoreboard-->
    
    <div id="scoreboard">

        
        
    </div>



</body>
</html>