<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Pong</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/pong.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>


</head>

<body>

    <p id="player1">Player 1 : </p>

    <input type="button" value="Ready Player 1" onclick="socket.emit('readyPlayer1');">

    <p id="player2">Player 2 : </p>

    <input type="button" value="Ready Player 2" onclick="socket.emit('readyPlayer2');">

    <script>

        var socket = io();

        socket.emit('connexion_serveur');

        socket.on('statuGame', function(data) {
            console.log("message reçu", data.player1Info, data.player2Info);
            document.getElementById('player1').innerHTML = "Player 1 : " + data.player1Info['username'] + " => score : " + data.player1Info['score'];
            document.getElementById('player2').innerHTML = "Player 2 : " + data.player2Info['username'] + " => score : " + data.player1Info['score'];
        });

    </script>



    <div class="blackSquare"></div>

</body>

</html>